# Project Variable

PROJECT_ROOT="path/to/the/root/of/the/project"
TOKEN_PATH="path/to/the/token.json"

# Google Cloud Variable

GOOGLE_ACCESS_TOKEN=""
GOOGLE_REFRESH_TOKEN=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Notion Variable
NOTION_API="NOTION_API"
DATABASE_ID="NOTION_DATABASE_ID"

# Optionnal Variable - SMS ALERT 
## if not used, please remove the sms_alert function all the way down in the code to avoid errors

FREE_MOBILE_USER_ID=""
FREE_MOBILE_API_KEY=""